<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sijing.tools.mapper.TableMapper">

    <select id="getDatabases" resultType="com.sijing.tools.entity.vo.database.DatabaseInfo">
        SHOW databases
    </select>

    <select id="getTables" resultType="com.sijing.tools.entity.vo.database.TableInfo">
        SELECT `table_name` as name, table_comment as comment
        FROM information_schema.tables
        WHERE table_schema =#{dbName}
        ORDER BY table_name
    </select>

    <select id="getTableFiled" resultType="com.sijing.tools.entity.vo.database.TableFiledInfo">
        SHOW FULL FIELDS FROM ${tableName}
    </select>
    
</mapper>